<form method="post" action="{{ path('app_abonnement_delete', {'ida': abonnement.ida}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ abonnement.ida) }}">
    <button class="btn">Delete</button>
</form>
