{% extends 'base.html.twig' %}

{% block title %}New Localisationvoyage{% endblock %}

{% block body %}
    <h1>Create new Localisationvoyage</h1>

    {{ include('localisationvoyage/_form.html.twig') }}

    <a href="{{ path('app_localisationvoyage_index') }}">back to list</a>
{% endblock %}
