<form method="post" action="{{ path('app_reservation_event_delete', {'idrev': reservation_event.idrev}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation_event.idrev) }}">
    <button class="btn">Delete</button>
</form>
