{% extends 'base.html.twig' %}

{% block title %}Edit ReservationEvent{% endblock %}

{% block body %}
    <h1>Edit ReservationEvent</h1>

    {{ include('reservation_event/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reservation_event_index') }}">back to list</a>

    {{ include('reservation_event/_delete_form.html.twig') }}
{% endblock %}
