{% extends 'base.html.twig' %}

{% block title %}New ReservationVoyage{% endblock %}

{% block body %}
    <h1>Create new ReservationVoyage</h1>

    {{ include('reservation_voyage/_form.html.twig') }}

    <a href="{{ path('app_reservation_voyage_index') }}">back to list</a>
{% endblock %}
