{% extends 'base.html.twig' %}

{% block title %}Edit ReservationVoiture{% endblock %}

{% block body %}
    <h1>Edit ReservationVoiture</h1>

    {{ include('reservation_voiture/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reservation_voiture_index') }}">back to list</a>

    {{ include('reservation_voiture/_delete_form.html.twig') }}
{% endblock %}
